@{
    ViewBag.Title = "Nibo Importação";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="menu">
    <div class="botoes">
        <a href="/Home/NovaImportacao" class="btn btn-primary" >Importar arquivo</a>
        <a href="/Extrato/Listar" class="btn btn-primary">Gerar Extrato</a>
    </div>
</div>

<style>
    .titulo{

    }
</style>
